

a:link {
  color:#E4B016;
  font-weight:normal;
  text-decoration:none;
}

a:visited {
  color:#B1690D;
  font-weight:bold;
  text-decoration:none;
}

.big-sexy-header {
  text-align:center;
  color:#f9f;
  font-size:28px;
  text-shadow:0 1px 0 #ccc;
  font-family:Century Gothic;
  text-shadow:1px 2px 3px #000000,-1px 2px 1px #000000,-1px -2px 1px #000000;
  font-wight:bold;
  margin-bottom:0;
  margin-top:20px;
  margin-right:55px;
}

.sexy-header {
  text-align:center;
  color:#fff;
  font-size:18px;
  text-shadow:0 1px 0 #ccc;
  font-family:Century Gothic;
  text-shadow:1px 2px 3px #000000,-1px 2px 1px #000000,-1px -2px 1px #000000;
  font-wight:bold;
  margin-bottom:20px;
  margin-right:55px;
}

.small-sexy-header {
  text-align:center;
  color:#fff;
  font-size:12px;
  text-shadow:0 1px 0 #ccc;
  font-family:Century Gothic;
  text-shadow:1px 2px 3px #000000,-1px 2px 1px #000000,-1px -2px 1px #000000;
  font-wight:bold;
  margin-bottom:20px;
  margin-right:55px;
}

.video-header {
  text-align:center;
  margin-top:40px;
}

.video-titles {
  text-align:left;
  font-size:22px;
  font-color:#fff;
}

.sexy-text-box {
  margin:auto;
  text-align:center;
  color:#fff;
  overflow:hidden;
  padding:5px;
  background:#f0889f;
  width:860px;
  margin-bottom:20px;
}

.sexy-text-box a:link,.sexy-text-box a:visited {
  font-size:14px;
  color:#fff;
  text-decoration:bold;
}

.sexy-text-box a:hover {
  color:#fff;
  text-decoration:none;
}

.video-deals {
  margin:auto;
  text-align:center;
  color:#fff;
  overflow:hidden;
  padding:5px;
  background:#f0889f;
  width:800px;
  margin-bottom:10px;
  margin-top:10px;
}

.video-deals a:link,.video.deals a:visited {
  font-size:14px;
  color:#fff;
  text-decoration:bold;
}

.solo-video-deal a:hover {
  color:#fff;
  text-decoration:none;
}

body {
  margin-left:185px;
  margin-right:auto;
  width:60%;
  profile:center;
  about_me_value:center;
  header_bar:center;
  background-color:#FFFFFF;
  font-color:#7993a8;
  font-family:"HelveticaNeueETW01-55Rg";
  font-weight:normal;
  font-style:bold;
  font-size:14px;
  background-position:top center;
  background-attachment:fixed;
  background-image:url(https://img.freepik.com/free-vector/robots-pattern-design_1131-2.jpg?size=338&ext=jpg);
}

div.scroll {
  background-image:url(http://4.bp.blogspot.com/-isf7N1b8bN4/VgkZFYqdMeI/AAAAAAAAJNo/1UyLz_S4lPg/s1600/pink_and_purple_lights_seamless_texture.jpg);
  width:903px;
  height:436px;
  overflow:auto;
}



.hvr-pulse {
  display:inline-block;
  vertical-align:middle;
  -webkit-transform:translateZ(0);
  transform:translateZ(0);
  box-shadow:0 0 1px rgba(0,0,0,0);
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -moz-osx-font-smoothing:grayscale;
}

.hvr-pulse:hover,.hvr-pulse:focus,.hvr-pulse:active {
  -webkit-animation-name:hvr-pulse;
  animation-name:hvr-pulse;
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-timing-function:linear;
  animation-timing-function:linear;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
}

/* =================================================================
                       Twitter, Amazon, & Offline Tip Links
=================================================================*/


#link-twitter a:hover {
  background-position:0 -301px;
}

#link-wishlist a {
  display:block;
  width:300px;
  height:301px;
  top:627px;
  left:313px;
  background:transparent url(http://2.bp.blogspot.com/-J3MsYQoIAUI/Vl0Re94wsgI/AAAAAAAAKa0/0uC7LYigQH8/s1600/amazon.png) no-repeat;
  position:absolute;
}


.dainf {
  display:block;
  padding:15px;
  font-family:lobster;
  color:#FFF;
  font-size:18px;
  background:rgba(212,35,182,0.25);
  margin-left:94px;
  margin-right:150px;
  margin-top:-13px;
  width:683px;
  border:dotted 3px #ff1285;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
}

.ger {
  display:block;
  text-align:center;
  padding-top:4px;
  margin-top:1px;
  padding-bottom:0;
  height:337px;
  padding-left:5px;
  width:672px;
  padding-right:6px;
  margin-left:0;
  background:rgb(253,217,239);
}


/* --------------- */
.clear:before,.clear:after {
  content:"";
  display:table;
}

.clear:after {
  clear:both;
}

.clear {
  zoom:1;
}


.frame {
  width:840px;
  height:440px;
/* overflow:auto; */
/* background: #040404; */
  position:relative;
}

.frame-border {
  width:840px;
  height:440px;
  background:#5dba85;
  padding:10px;
  border-radius:22px;
  -moz-border-radius:22px;
  -webkit-border-radius:22px;
  -o-border-radius:22px;
  margin:0 0 40px 12px;
}

.frame::-webkit-scrollbar {
  -webkit-appearance:none;
  width:12px;
  height:12px;
}

.frame::-webkit-scrollbar-thumb {
  border-radius:8px;
  border:2px solid #ffffff;
  background-color:#ffffff;
}

.profile_section_content {
  width:910px;
  color:rgba(0,0,0,0.);
  border:0 px;
  padding:5px;
  margin:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 0 #777777;
  -moz-box-shadow:0 0 0 #777777;
  box-shadow:0 0 0 #777777;
}

.profile_section_background {
  filter:alpha(opacity=100);
  opacity:1;
  background-color:rgba(255,255,255,0.6);
  border-right:dotted 1px #ffffff;
  border-left:dotted 1px #ffffff;
  -moz-box-shadow:5px 0 8px #FF0066,-5px 0 8px #FF0066;
  -webkit-box-shadow:5px 0 9px #FF0066,-5px 0 8px #FF0066;
  box-shadow:5px 0 8px #FF0066,-5px 0 8px #FF0066;
}

.img_radius_shadow {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  -webkit-box-shadow:0 0 0 #777777;
  -moz-box-shadow:0 0 0 #777777;
  box-shadow:0 0 0 #777777;
}

.profile_section_content .heading {
  padding:0;
  background-color:#fff;
  color:#fff;
  font-family:'Verdana';
  font-weight:normal;
  font-style:normal;
  font-size:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  -webkit-box-shadow:0 0 0 #777777;
  -moz-box-shadow:0 0 0 #777777;
  box-shadow:0 0 0 #777777;
  -webkit-text-shadow:0 0 0 #777777;
  -moz-text-shadow:0 0 0 #777777;
  text-shadow:0 0 0 #777777;
}

.content {
  padding:5px;
}

#profile_main_photo,.flagCounter,#username_container,#drugs_value,#marital_status_container,#gender_container,#body_type_container,#height_container,#ethnicity_container,#cam_score_container,#hair_container,#eyes_container,#weight_container,#age_container,#country_container,#sexual_preference_container,#smoke_container,#drink_container,#occupation_container,#school_container,#favorite_food_container,#pets_container,#automobile_container,#tags_container,#profile_about_me .label,#profile_about_me > .heading {
  display:none;
}

#about_me_label,#profile_header,#header_bar,#profile_main_photo,#main_photo,#profile_friends,#tags_value,#tags_container {
  display:none;
}

#status_container {
  position:absolute;
  top:629px;
  left:348px;
  z-index:1;
}

#status_container a:link {
  font-family:Geneva,Helvetica,sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:.75rem;
}

.sexyround {
  height:1216px;
  width:860px;
  margin:0 0 0 10px;
  -webkit-border-radius:22px;
  -moz-border-radius:22px;
  border-radius:22px;
}

.firstvid {
  margin-right:7px;
}

div.hover_icon_container {
  width:280px;
  height:210px;
  position:relative;
  float:left;
  margin-bottom:10px;
  margin-left:7px;
  margin-right:7px;
}

div.hover_icon_container a.hover_icon {
  display:none;
  width:280px;
  height:210px;
  position:absolute;
  top:0;
  left:0;
}

div.hover_icon_container:hover a.hover_icon {
  display:block;
}

#frame {
  width:840px;
  height:440px;
  overflow:auto;
  background:#93c0d5;
  position:relative;
}

#frame-border {
  width:840px;
  height:440px;
  background:#93c0d5;
  padding:10px;
  border-radius:22px;
  -moz-border-radius:22px;
  -webkit-border-radius:22px;
  -o-border-radius:22px;
  margin:0 0 0 20px;
}

#frame::-webkit-scrollbar {
  -webkit-appearance:none;
  width:12px;
  height:12px;
}

#frame::-webkit-scrollbar-thumb {
  border-radius:8px;
  border:2px solid #ffffff;
  background-color:#ffffff;
}



#nvholder {
  position:scroll;
  display:inline-block;
  position:absolute;
  position:fixed;
  margin-left:66px;
  width:763px;
  height:20px;
  margin-top:-26px;
  border:dotted 2px #FFFFFF;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
  background-color:rgb(251,104,186);
}

#nv a {
  display:inline-block;
  margin:6px;
  padding-left:7px;
  padding-right:5px;
  padding-top:2px;
  padding-bottom:3px;
  color:#fff;
  text-shadow:0 1px 0 #000;
  text-decoration:none;
}

#nv a:hover {
  display:inline-block;
  margin:6px;
  padding-left:7px;
  padding-right:5px;
  padding-top:2px;
  padding-bottom:3px;
  color:#EDF30D;
  text-shadow:0 1px 0 #D85212;
  text-decoration:none;
}

#bnv a {
  padding:9px 9px 2px 4px;
  display:inline-block;
  float:inherit;
  position:relative;
  text-transform:uppercase;
  border-left:0 solid #000000;
  border-right:0 solid #aaaaaa;
  color:#000;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  -ms-transition:all .5s;
  -o-transition:all .5s;
  text-shadow:-1px -2px 1px #ffffff,1px -2px 1px #ffffff,2px 2px 1px #ffffff,0px 2px 1px #ffffff,-2px 2px 1px #ffffff,-2px -1px 1px #ffffff;
  text-decoration:none;
  font-size:13px;
  padding:14px;
  font-wight:bold;
}

#bnv a:hover {
  font-weight:bold;
  font-style:none;
  color:#FFF;
  padding:14px;
  background:rgba(0,102,181,0.2);
  -webkit-box-shadow:inset 0 10px 10px 0 #000;
  -moz-box-shadow:inset 0 5px 5px 0 #000;
  box-shadow:inset 0 5px 5px 0 #000;
  text-shadow:-4px 8px 9px #000;
  font-size:13px;
  position:relative;
  -moz-box-shadow:inset 0 0 29px #000000;
  -webkit-box-shadow:inset 0 0 29px #000000;
  box-shadow:inset 0 0 29px #000000;
  font-wight:bold;
}

.bnav {
  display:inline-block;
  margin:5px;
  padding-left:6px;
  padding-right:6px;
  padding-top:2px;
  padding-bottom:8px;
  color:#fff;
  text-shadow:0 1px 0 #000;
  text-decoration:none;
}

.bnav:hover {
  display:inline-block;
  margin-left:5px;
  padding-left:6px;
  padding-right:6px;
  padding-top:2px;
  padding-bottom:8px;
  color:#6FF;
  text-shadow:0 1px 0 #000;
  text-decoration:none;
  border-bottom:1px solid #0CC;
  -webkit-transition:all .3s cubic-bezier(0.250,0.250,0.750,0.750);
  -moz-transition:all .3s cubic-bezier(0.250,0.250,0.750,0.750);
  -ms-transition:all .3s cubic-bezier(0.250,0.250,0.750,0.750);
  -o-transition:all .3s cubic-bezier(0.250,0.250,0.750,0.750);
  transition:all .3s cubic-bezier(0.250,0.250,0.750,0.750);
  -webkit-box-shadow:0 2px 5px 0 rgba(0,255,204,.7);
  -moz-box-shadow:0 2px 5px 0 rgba(0,255,204,.7);
  box-shadow:0 2px 5px 0 rgba(0,255,204,.7);
}

.specialtext {
  font-size:22px;
  color:#fff;
  text-shadow:0 1px 0 #ccc;
  font-family:Century Gothic;
  text-shadow:1px 2px 3px #000000,-1px 2px 1px #000000,-1px -2px 1px #000000;
  font-wight:bold;
}

<style type="text/css">
* {
  margin:0;
  padding:0;
}

img {
  border:none;
}

h1 {
  line-height:1em;
  font-family:"Times New Roman",Times,serif;
  color:#666;
  font-style:italic;
  text-align:center;
  padding:30px 0 0;
}

h2 {
  font-family:Arial,Helvetica,sans-serif;
  margin:0 0 8px;
}

h3 {
  font-family:Arial,Helvetica,sans-serif;
  margin:0;
  padding:0;
}

p {
  font-family:Arial,Helvetica,sans-serif;
  font-size:20px;
  line-height:1.5em;
  margin:0 0 14px;
  padding:30px 0 0;
  clear:both;
  text-align:center;
  color:#666;
}

#content-slider {
  width:650px;
  overflow:hidden;
  height:300px;
  margin:30px 0 0;
  border:solid 1px #666;
}

#content-slider-inside {
  list-style:none;
  height:320px;
  overflow:scroll;
  overflow-y:hidden;
}

#content-slider-inside li {
  width:650px;
  background:#ccc;
  height:300px;
  color:#666;
  font-size:200px;
  font-family:"Times New Roman",Times,serif;
  font-style:italic;
  text-align:center;
  line-height:300px;
}

#navigation {
  list-style:none;
  margin:20px 0 0;
  float:right;
}

#navigation li {
  float:left;
  width:30px;
  height:30px;
  text-align:center;
  margin:0;
  border:solid 1px #ccc;
  line-height:30px;
  font-family:Arial,Helvetica,sans-serif;
  margin:0 0 0 5px;
}

#navigation li a,#navigation li a:link,#navigation li a:visited {
  text-decoration:none;
  display:block;
  height:30px;
  color:#666;
}

#navigation li a.selected,#navigation li a.selected:link,#navigation li a.selected:visited {
  background:#666;
  color:#fff;
}

#navigation li a:hover,#navigation li a:focus,#navigation li a:active {
  background:#666;
  color:#fff;
}

<style type="text/css">
* {
  margin:0;
  padding:0;
}

img {
  border:none;
}

h1 {
  line-height:1em;
  font-family:Arial,Helvetica,sans-serif;
  color:#1EAEA1;
  font-style:italic;
  text-align:center;
  padding:30px 0 0;
}

h2 {
  font-family:Arial,Helvetica,sans-serif;
  margin:0 0 8px;
}

h3 {
  font-family:Arial,Helvetica,sans-serif;
  margin:0;
  padding:0;
}

p {
  font-family:Arial,Helvetica,sans-serif;
  font-size:20px;
  line-height:1.5em;
  margin:0 0 14px;
  padding:30px 0 0;
  clear:both;
  text-align:center;
  color:#666;
}

#content-slider {
  width:800px;
  overflow:hidden;
  height:500px;
  margin:0;
  border:solid 1px #fff;
}

#content-slider-inside {
  list-style:none;
  height:600px;
  overflow:scroll;
  overflow-y:hidden;
}

#content-slider-inside li {
  width:800px;
  background:#fff;
  height:500px;
  color:#1EAEA1;
  font-size:45px;
  font-family:Arial,Helvetica,sans-serif;
  font-style:bold;
  text-align:center;
  line-height:300px;
}

#navigation {
  list-style:none;
  margin:20px 0 0;
  float:right;
}

#navigation li {
  float:left;
  width:100px;
  height:25px;
  text-align:center;
  margin:0;
  border:solid 0 #ccc;
  line-height:20px;
  font-family:Arial,Helvetica,sans-serif;
  margin:0 0 0 7px;
  background:#1eaea1;
}

#navigation li a,#navigation li a:link,#navigation li a:visited {
  text-decoration:bold;
  text-transform:uppercase;
  font-weight:bold;
  display:block;
  height:25px;
  color:#ffffff;
}

#navigation li a.selected,#navigation li a.selected:link,#navigation li a.selected:visited {
  background:#1eaea1;
  color:#fff;
}

#navigation li a:hover,#navigation li a:focus,#navigation li a:active {
  background:#1EAEA1;
  color:#fff;
}

.photo_gallery_image {
  width:70px;
  height:70px;
  border:6px solid #FF106E;
  border-radius:8px;
  borderradius:8px;
  -moz-border-radius:8px;
  -moz-border-radius:8px;
  margin:0 10px 4px -6px;
  -webkit-transition:all 200ms cubic-bezier(0.250,0.250,0.750,0.750);
  -moz-transition:all 200ms cubic-bezier(0.250,0.250,0.750,0.750);
  -ms-transition:all 200ms cubic-bezier(0.250,0.250,0.750,0.750);
  -o-transition:all 200ms cubic-bezier(0.250,0.250,0.750,0.750);
  transition:all 200ms cubic-bezier(0.250,0.250,0.750,0.750);
}

.photo_gallery_image:hover {
  border:6px solid #FFCC99;
  -webkit-transition:all 50ms cubic-bezier(0.250,0.250,0.750,0.750);
  -moz-transition:all 50ms cubic-bezier(0.250,0.250,0.750,0.750);
  -ms-transition:all 50ms cubic-bezier(0.250,0.250,0.750,0.750);
  -o-transition:all 50ms cubic-bezier(0.250,0.250,0.750,0.750);
  transition:all 50ms cubic-bezier(0.250,0.250,0.750,0.750);
  -moz-box-shadow:2px 2px 33px #eb033d;
  -webkit-box-shadow:2px 2px 33px #eb033d;
  box-shadow:2px 2px 33px #eb033d;
}

.highlight {
  outline:none;
  transition:all .25s ease-in-out;
  -webkit-transition:all .25s ease-in-out;
  -moz-transition:all .25s ease-in-out;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border:4px solid rgba(0,0,0,0.0);
}

.highlight:hover {
  box-shadow:0 0 10px rgba(255,13,97,0.9);
  -webkit-box-shadow:0 0 10px rgba(255,13,97,0.9);
  -moz-box-shadow:0 0 10px rgba(255,13,97,0.9);
  border:4px solid rgba(255,13,97,0.9);
}
